:root {
  --primary-color: #6d28d9;
  --primary-light-color: #8b5cf6;
  --secondary-color: #10b981;
  --accent-color: #f59e0b;
  --background-color: #121212;
  --surface-color: #1e1e1e;
  --surface2-color: #2d2d2d;

  --font-color: #e0e0e0;
  --alt-font-color: #a0a0a0;
  --title-font-weight: bold;
  --normal-text-size: 400;
  --highlighted-text-style: italic;

  /* BUTTONS */
  /* Primary */
  --p-button-padding: 10px 20px;
  --p-button-border: 1px solid var(--primary-color);
  --p-button-radius: 4px;
  --p-button-color: var(--font-color);
  --p-button-background-color: var(--primary-color);
  /* Secondary */
  --s-button-padding: 10px 20px;
  --s-button-border: 1px solid var(--primary-color);
  --s-button-radius: 4px;
  --s-button-color: var(--primary-light-color);
  --s-button-background-color: var(--surface-color);
  /* Terciary */
  --t-button-padding: 10px 20px;
  --t-button-border: unset;
  --t-button-radius: 4px;
  --t-button-color: var(--font-color);
  --t-button-background-color: unset;
}
.primary-button {
  background-color: var(--p-button-background-color);
  color: var(--p-button-color);
  padding: var(--p-button-padding);
  border: var(--p-button-border);
  border-radius: var(--p-button-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.secondary-button {
  background-color: var(--s-button-background-color);
  color: var(--s-button-color);
  padding: var(--s-button-padding);
  border: var(--s-button-border);
  border-radius: var(--s-button-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.terciary-button {
  background-color: var(--t-button-background-color);
  color: var(--t-button-color);
  padding: var(--t-button-padding);
  border: var(--t-button-border);
  border-radius: var(--t-button-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: underline;
}
