@import url(./globals.css);

/* MAIN */
.contact-us {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.contact-us .left {
  background-color: var(--primary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 65%;
  height: 16rem;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
}
.contact-us p {
  color: var(--alt-font-color);
}
.contact-us .right {
  background-color: var(--surface-color);
  width: 35%;
  height: 16rem;
  border-radius: 8px;
  position: relative;
}
.contact-us .right p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.our-services {
  color: var(--font-color);
  margin-bottom: 1rem;
}
.our-services p {
  color: var(--alt-font-color);
  margin-top: 5px;
}
.our-services .cards {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.our-services .cards article {
  width: 100%;
  background-color: var(--surface-color);
  text-align: start;
  height: 10rem;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}
.our-services .terciary-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.clients {
  color: var(--font-color);
  width: 100%;
}
.clients article {
  height: 4rem;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients article span {
  border-radius: 4px;
  height: 3rem;
  width: 4.5rem;
  background-color: var(--surface2-color);
}

@media (375px >= width) {
  /* MAIN */
  .contact-us {
    width: 100%;
    margin-bottom: 1rem;
  }
  .contact-us .left {
    width: 100%;
    align-items: center;
    text-align: center;
    height: 11rem;
    margin-bottom: 0;
    margin-right: 0;
  }
  .contact-us .right {
    display: none;
  }
  .contact-us-p {
    display: none;
  }
  .our-services {
    margin-bottom: 1rem;
  }
  .our-services .cards {
    margin-top: 0;
    flex-direction: column;
    gap: 0;
  }
  .our-services .cards article {
    height: 9rem;
    margin: 1rem 0 0 0;
  }

  .clients article {
    background-color: var(--surface-color);
    margin-top: 1rem;
    padding: 1rem;
  }
  .clients article .hidden {
    display: none;
  }
}
@media (width >= 1400px) {
  /* MAIN */
  .contact-us {
    margin-top: 2rem;
  }
  .contact-us .left {
    height: 26rem;
    padding: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .contact-us .right {
    height: 26rem;
    margin-bottom: 2rem;
  }
  .contact-us button {
    margin-left: 2rem;
    transform: scale(150%);
  }
  .our-services {
    margin-bottom: 2rem;
  }
  .our-services .cards {
    margin-top: 1rem;
    gap: 2rem;
  }
  .our-services .cards article {
    height: 15rem;
    margin: 1rem 0 0 0;
    padding: 2rem;
  }
  .our-services .terciary-button {
    transform: scale(150%);
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .clients article {
    height: 6rem;
  }
  .clients article span {
    height: 5rem;
    width: 6.5rem;
  }
  .clients article {
    margin-top: 1rem;
  }
}
