@import url(./globals.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  background-color: var(--background-color);
  padding: 1rem;
  line-height: 1.5rem;
}
/* HEADER */
header {
  max-width: 1440px;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--surface-color);
  padding: 1% 3%;
  align-items: center;
  border-radius: 8px;
}
header button {
  border: unset;
}
.logo {
  background-color: var(--primary-color);
  width: 70px;
  height: 42px;
  border-radius: 4px;
}
.index {
  width: 367px;
}
.index ul {
  list-style: none;
}
.index ul li {
  display: inline-block;
}
.index ul li a {
  color: var(--alt-font-color);
  text-decoration: none;
  margin: 0.5rem;
}
.burguer {
  display: none;
}
/* MAIN */
main {
  color: var(--font-color);
}
h2,
h3,
p {
  font-size: 1rem;
}
.contact-us {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.contact-us .left {
  background-color: var(--primary-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  width: 65%;
  height: 16rem;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
}
.contact-us p {
  color: var(--alt-font-color);
}
.contact-us .right {
  background-color: var(--surface-color);
  width: 35%;
  height: 16rem;
  border-radius: 8px;
  position: relative;
}
.contact-us .right p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

.our-services {
  color: var(--font-color);
  margin-bottom: 1rem;
}
.our-services p {
  color: var(--alt-font-color);
  margin-top: 5px;
}
.our-services .cards {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
.our-services .cards article {
  width: 100%;
  background-color: var(--surface-color);
  text-align: start;
  height: 10rem;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}
.our-services .terciary-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.clients {
  color: var(--font-color);
  width: 100%;
}
.clients article {
  height: 4rem;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients article span {
  border-radius: 4px;
  height: 1.8rem;
  width: 60px;
  background-color: var(--surface2-color);
}
/* FOOTER */
footer {
  background-color: var(--surface-color);
  margin-top: 0.5rem;
  height: 5rem;
  text-align: center;
  border-radius: 8px;
  padding: 1rem;
}
footer p {
  color: var(--alt-font-color);
}

@media (375px >= width) {
  body {
    padding: 0;
  }
  h2,
  h3,
  p {
    font-size: 1.15rem;
  }
  /* HEADER */
  header {
    border-radius: unset;
  }
  .index {
    display: none;
  }
  .burguer {
    padding: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: inherit;
  }
  .burguer span {
    background-color: #b0b0b0;
    width: 100%;
    height: 3px;
    border-radius: 2px;
  }
  /* MAIN */
  main {
    padding: 1rem;
  }
  .contact-us {
    width: 100%;
    margin-bottom: 1rem;
  }
  .contact-us .left {
    width: 100%;
    align-items: center;
    text-align: center;
    height: 11rem;
    margin-bottom: 0;
    margin-right: 0;
  }
  .contact-us .right {
    display: none;
  }
  .contact-us-p {
    display: none;
  }
  .our-services {
    margin-bottom: 1rem;
  }
  .our-services .cards {
    margin-top: 0;
    flex-direction: column;
    gap: 0;
  }
  .our-services .cards article {
    height: 9rem;
    margin: 1rem 0 0 0;
  }

  .clients article {
    background-color: var(--surface-color);
    margin-top: 1rem;
    padding: 1rem;
  }
  .clients article .hidden {
    display: none;
  }
  /* FOOTER */
  footer {
    border-radius: unset;
  }
}
@media (width >= 1400px) {
  body {
    padding: 2rem;
    line-height: 2.5rem;
  }
  h2,
  h3,
  p {
    font-size: 1.75rem;
  }
  /* HEADER */
  header {
    max-width: 1440px;
    height: 6rem;
  }
  .logo {
    width: 105px;
    height: 63px;
  }
  .index {
    width: 550px;
  }
  .index ul li a {
    font-size: 1.6rem;
  }
  /* MAIN */
  .contact-us {
    margin-top: 2rem;
  }
  .contact-us .left {
    height: 26rem;
    padding: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  .contact-us .right {
    height: 26rem;
    margin-bottom: 2rem;
  }
  .contact-us button {
    margin-left: 2rem;
    transform: scale(150%);
  }
  .our-services {
    margin-bottom: 2rem;
  }
  .our-services .cards {
    margin-top: 1rem;
    gap: 2rem;
  }
  .our-services .cards article {
    height: 15rem;
    margin: 1rem 0 0 0;
    padding: 2rem;
  }
  .our-services .terciary-button {
    transform: scale(150%);
    margin-left: 1rem;
    margin-bottom: 1.5rem;
  }

  .clients article {
    height: 6rem;
  }
  .clients article span {
    height: 3.2rem;
    width: 6.5rem;
  }
  .clients article {
    margin-top: 1rem;
  }
  /* FOOTER */
  footer {
    margin-top: 1.5rem;
  }
  footer p {
    font-size: 1.45rem;
  }
}
